html {
  height: 100%;
  width: 100%;
}
* {
  margin: 0
  padding 0;
  box-sizing:border-box;
  
}
body {
  background: grey;
  background-image: url('odshome.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}
form {
  background-color: white;
  padding: 20px;
  max-width: 500px;
  max-height: 70%;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  position: absolute;
  border-radius: 25px;
  box-shadow: -5px 5px rgba(0, 0, 0, 0.5);
}
  
  

.submit {
  border-radius: 5px;
  align-content: center;
  display: block;
  width: 100%;
  text-align: center;
  align-items: center;
  
  
}
#formulariologin input.email, #formulariologin input.senha {
  margin: 10px;
  
}

header {
  top: 0px;
  border-bottom:solid 1px black;
  background-color: white;
  color: black;
  margin: 0px;
  height: 65px;
  width: 100%;
  position: fixed;
  left: 0px;
  text-align: center;
  
  
  
}


#menu {
  z-index: 100;
  
}

#linhamenu {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.linha {
  height: 5px;
  width: 100%;
  background-color:#5eb039 ;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#linha1 {
  transform: translateY(-4px);
}

#linha3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.fundomenu, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.fundomenu {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #5eb039, #5eb039);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .linha {
  background-color: white;
}

.change #linha1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #linha2 {
  opacity: 0;
}

.change #linha3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%,-30%);
  }
.recuperar {
  margin: 22px;
  text-align: center;
  
}
h1 {
  position: relative;
  top: 100px;
  left: 250px;
}
.textosobre {
  position: relative;
  top: 150px;
  left: 90px;
  max-width: 1000px;
}
.container {
  background-color: rgba(13, 77, 138, 0.2);
  max-width: 550px;
  height: 250px;
  margin-left: 100px;
  border-radius: 25px;
}
